$facebookColor: #3b5998;
$twitterColor: #00acee;
$googleColor: #db4a39;
$socialColorList: (
    "facebook": $facebookColor,
    "twitter": $twitterColor,
    "google": $googleColor,
);

$black: #555;
$white: #fff;
$gray: #9ca7b7;
$lightGray: #d1dae4;

$danger: #d9534f;
$warning: #f0ad4e;
$info: #5bc0de;
$success: #5cb85c;

@if $theme == 1 {
    $primary: #1eadf0;
    $secondary: #0afb60;
} @else if $theme == 2 {
    $primary: #ffe031;
    $secondary: #f04579;
} @else if $theme == 3 {
    $primary: #0100ec;
    $secondary: #fb36f4;
} @else if $theme == 4 {
    $primary: #00ffed;
    $secondary: #9d00c6;
} @else if $theme == 5 {
    $primary: #f237ef;
    $secondary: #fc5252;
} @else if $theme == 6 {
    $primary: #ffe53b;
    $secondary: #ff2525;
} @else {
    $primary: #e5f230;
    $secondary: #54d863;
}
// $complementPrimary: complement($primary);
// $complementSecondary: complement($secondary);
