$primary: #e5f230;
$secondary: #54d863;
$theme: 1;
@import "normalize.scss";
@import "variables.scss";
@import "colors.scss";

$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "bootstrap";
@import "~@filipedp/simple_dialog/scss/alerts";
@import "~@filipedp/simple_dialog/scss/confirms";

@import "helpers/_";

body {
    @import "layouts/_";
    @import "routes/_";
}
* {
    margin: 0;
    padding: 0;
}
